
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50vh;
  height: 200vh; /* TODO: Remove this, this is temporary! */
}
.sectionContainer * {
  transition: all 1000ms ease-out;
}

.sectionTitle {
  width: 30vw;
}

.contentContainer {
  width: 100%;
}
.contentBlockContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
}
.firstContentBlockContainer .imageContainer {
  position: absolute;
  clip-path: circle(48%);
  transform: translateX(-2%) translateY(-5%);
}
.spacer {
  min-width: 100px;
  height: 5vh;
}
.secondContentBlockContainer .imageContainer {
  position: absolute;
  clip-path: circle(48%);
  transform: translateX(18%);
}
.text {
  max-width: 42vw;
}

/* For transitioning into view */
.firstContentBlockContainer .firstFrame .circle-main {
  transition-delay: 200ms;
}
.firstContentBlockContainer .firstFrame .circle-1 {
  transition-delay: 600ms;
}
.firstContentBlockContainer .firstFrame .circle-2 {
  transition-delay: 800ms;
}
.firstContentBlockContainer .firstFrame .circle-3 {
  transition-delay: 1000ms;
}
.firstContentBlockContainer.hidden text {
  opacity: 0;
  transform: translateX(-20%);
}
.firstContentBlockContainer .firstFrame .circle-1,
.firstContentBlockContainer .firstFrame .circle-2,
.firstContentBlockContainer .firstFrame .circle-3,
.firstContentBlockContainer .firstFrame .circle-main {
  transform-origin: center;
  /* animation: scale-loop 100ms ease-in-out alternate infinite; */
}
.firstContentBlockContainer.hidden .firstFrame .circle-1,
.firstContentBlockContainer.hidden .firstFrame .circle-2,
.firstContentBlockContainer.hidden .firstFrame .circle-3,
.firstContentBlockContainer.hidden .firstFrame .circle-main {
  transform: scale(0);
  display: none;
}
.firstContentBlockContainer .firstFrame .circle-main {
  transition-delay: 200ms;
}
.firstContentBlockContainer .firstFrame .circle-1 {
  transition-delay: 600ms;
}
.firstContentBlockContainer .firstFrame .circle-2 {
  transition-delay: 800ms;
}
.firstContentBlockContainer .firstFrame .circle-3 {
  transition-delay: 1000ms;
}

.secondContentBlockContainer.hidden text {
  opacity: 0;
  transform: translateX(20%);
}

@keyframes scale-loop {
  0% { }
  100% {
    transform: scale(1.01);
  }
}

