
.itemContainer * {
  transition: all 80ms ease-out;
}
.iconSvg {
  color: var(--color-highlight-base);
}

.itemContainer:hover .iconSvg {
  color: var(--color-grey-white);
  transform-origin: center;
  transform: scale(1.05);
}