

.itemContainer {
  filter: var(--drop-shadow-mouseoff);
  transition: filter 80ms ease-out;
}
.iconSvg {
  color: var(--color-highlight-base);
  transition: transform 80ms ease-out, color 80ms ease-out;
}

.itemContainer:hover {
  filter: var(--drop-shadow-mouseon);
}
.itemContainer:hover .iconSvg {
  color: var(--color-grey-white);
  transform-origin: center;
  transform: scale(1.05);
}