
.layoutContainer {
  position: relative;
}

.navBar {
  opacity: 0;
  z-index: -1;
  animation: nav-bar-fade-in 1s ease-out forwards;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: all 200ms ease-out;
}
.footer {
  z-index: 1;
}

@keyframes nav-bar-fade-in {
  0% { }
  100% {
    opacity: 1;
    z-index: 2;
  }
}