
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(6px);
  filter: var(--drop-shadow-mouseoff);
  transition:
    opacity 200ms linear,
    transform 200ms linear,
    height 200ms linear,
    filter 200ms linear,
    backdrop-filter 200ms linear;
}
.navBar::before {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  transition:
    filter 200ms linear,
    opacity 200ms linear;
}
.logoIcon {
  position: relative;
  margin-left: -14px;
  transform-origin: center;
  transform: scale(0.4);
}
.menuIcon {
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  aspect-ratio: 1 / 1;
  filter: var(--drop-shadow-mouseoff);
  transition: filter 200ms linear;
}
.menuIcon .middleLine {
  height: 2px;
  width: 100%;
  background-color: var(--color-secondary-base);
  transition:
    background-color 200ms linear,
    transform 200ms linear;
}
.menuIcon::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-base);
  transform: translateY(-6px);
  transition:
    background-color 200ms linear,
    transform 200ms linear;
}
.menuIcon::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-base);
  transform: translateY(6px);
  transition:
    background-color 200ms linear,
    transform 200ms linear;
}

/* State-specific styles */
.retracted {
  opacity: 0;
  transform: translateY(-60px);
}
.integrated {
  height: 80px;
}
.navBar.integrated::before {
  filter: none;
  opacity: 0;
}

.menuIcon:hover {
  cursor: pointer;
  filter: var(--drop-shadow-mouseon);
}
.menuIcon:hover .middleLine {
  background-color: var(--color-highlight-base);
}
.menuIcon:hover::before {
  background-color: var(--color-highlight-base);
}
.menuIcon:hover::after {
  background-color: var(--color-highlight-base);
}

/* Overlay styles */
.navOverlay {
  transform: translateX(100%);
  filter: none;
  transition:
    transform 200ms ease-out,
    filter 200ms ease-out;
  z-index: 2;
}

/* Overlay deployed styles */
.navBar.deployed {
  filter: none;
  backdrop-filter: none;
}
.navBar.deployed::before {
  opacity: 0;
}
.menuIcon.deployed .middleLine {
  transform: scaleX(0);
}
.menuIcon.deployed::before {
  top: unset;
  transform: rotate(135deg);
}
.menuIcon.deployed::after {
  bottom: unset;
  transform: rotate(-135deg);
}
.navOverlay.deployed {
  transform: unset;
  filter: var(--drop-shadow-regular);
}