
.navBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
}
.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 60vw;
  min-width: 780px;
  list-style: none;
}

.barBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  filter: var(--drop-shadow-mouseoff);
  background-color: var(--color-primary-dark);
  transition: all 200ms linear;
}

.retracted {
  opacity: 0;
  transform: translateY(-60px);
}
.extended {

}
.integrated {
  height: 100px;
}
.integrated .barBackground {
  filter: none;
  opacity: 0;
}