
.overallContainer {
  position: absolute;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(2px);
  filter: var(--drop-shadow-mouseoff);
  transition: all 120ms linear;
}
.navBar::before {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  transition: all 200ms linear;
}

.logoIcon {
  position: relative;
  margin-left: -14px;
  transform-origin: center;
  transform: scale(0.4);
}
.menuIcon {
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  aspect-ratio: 1 / 1;
  filter: var(--drop-shadow-mouseoff);
}
.menuIcon .middleLine {
  height: 2px;
  width: 100%;
  background: var(--color-secondary-base);
  transition: all 200ms linear;
}
.menuIcon::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--color-secondary-base);
  top: 20%;
  transition: all 200ms linear;
}
.menuIcon::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--color-secondary-base);
  bottom: 20%;
  transition: all 200ms linear;
}

.retracted {
  opacity: 0;
  transform: translateY(-50px);
}
.integrated {
  height: 80px;
}
.navBar.integrated::before {
  filter: none;
  opacity: 0;
}

.menuIcon:hover {
  cursor: pointer;
  filter: var(--drop-shadow-mouseon);
}
.menuIcon:hover .middleLine {
  background: var(--color-highlight-base);
}
.menuIcon:hover::before {
  background: var(--color-highlight-base);
}
.menuIcon:hover::after {
  background: var(--color-highlight-base);
}

.navOverlay {
  transform: translateX(100%);
  filter: none;
  transition: all 500ms ease-out;
  z-index: -1;
}

/* Deployed styles */
.navBar.deployed {
  backdrop-filter: none;
  filter: none;
}
.navBar.deployed::before {
  opacity: 0;
}
.menuIcon.deployed .middleLine {
  opacity: 0;
  width: 0px;
}
.menuIcon.deployed::before {
  top: unset;
  transform: rotate(225deg);
}
.menuIcon.deployed::after {
  bottom: unset;
  transform: rotate(315deg);
}
.navOverlay.deployed {
  transform: unset;
  filter: var(--drop-shadow-regular);
}