
.navBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  filter: var(--drop-shadow-mouseoff);
  transition: all 200ms linear;
}
.navBar::before {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  transition: all 200ms linear;
}
.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 60vw;
  min-width: 720px;
  list-style: none;
}

.retracted {
  opacity: 0;
  transform: translateY(-60px);
}

.integrated {
  height: 100px;
}
.navBar.integrated::before {
  filter: none;
  opacity: 0;
}