
.overallContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 70vw;
  right: 0px;
  background: var(--color-primary-dark);
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 20px;
}