
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-base);
  background: var(--color-grey-darkest);
  border-radius: 6px;
  gap: 12%;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, .25));
}
.button,
.button * {
  transition: all 80ms ease-out;
}
.button.large {
  width: 154px;
  height: 41px;
}
.button.large svg {
  width: auto;
  height: 22px;
}
.button.small {
  width: 115px;
  height: 33px;
}
.button.small svg {
  width: auto;
  height: 12px;
}
.text {
  font-size: var(--font-size-web-regular);
}

.iconContainer {
  margin-top: 2px;
}

.button:hover {
  transform-origin: center;
  transform: scale(1.01) !important;
  background: var(--color-highlight-dark);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .40));
  cursor: pointer;
}
.button:active {
  transform: scale(0.98) !important;
}

@media only screen and (max-width: 600px) {
  .button.large {
    width: 120px;
    height: 36px;
  }
  .button.large svg {
    width: auto;
    height: 18px;
  }
  .button.small {
    width: 60px;
    height: 17px;
  }
  .button.small svg {
    width: auto;
    height: 12px;
  }
  .text {
    font-size: var(--font-size-mobile-regular);
  }
}