
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-darkest);
  color: var(--color-grey-base);
  border-radius: 6px;
  margin-top: 30px;
  gap: 12%;
}
.button * {
  transition: all 80ms ease-out;
}

.iconContainer {
  margin-top: 2px;
}

.button:hover {
  transform-origin: center;
  transform: scale(1.01);
  cursor: pointer;
}