
.overallContainer {
  position: relative;
}
.imageContainer {
  position: absolute;
  clip-path: circle(48%);
  transform: translate(5%, 2%);
  width: 72%;
}
.frameSvg {
  width: 100%;
}
.frameSvg .circle-main,
.frameSvg .circle-1,
.frameSvg .circle-2,
.frameSvg .circle-3 {
  transform-origin: center;
}

/* Hidden styles */
.overallContainer.hidden .imageContainer {
  clip-path: circle(0%);
}
.overallContainer.hidden .frameSvg .circle-main,
.overallContainer.hidden .frameSvg .circle-1,
.overallContainer.hidden .frameSvg .circle-2,
.overallContainer.hidden .frameSvg .circle-3 {
  transform: scale(0);
}

/* Animate styles */
.overallContainer.animate .imageContainer {
  animation: clip-path-grow-in 400ms cubic-bezier(0.1,0.8,0.2,1.1) 100ms both;
}
.overallContainer.animate .frameSvg .circle-main {
  animation:
    grow-in 500ms cubic-bezier(0.1,0.8,0.2,1.2) 500ms both,
    scale-loop 4500ms ease-in-out 500ms alternate infinite,
    opacity-loop 4500ms ease-in-out 500ms alternate infinite;
}
.overallContainer.animate .frameSvg .circle-1 {
  animation:
    grow-in 500ms cubic-bezier(0.1,0.8,0.2,1.2) calc(500ms + 1 * var(--time-stagger-duration)) both,
    scale-loop 3500ms ease-in-out calc(500ms + 1 * var(--time-stagger-duration)) alternate infinite,
    opacity-loop 3500ms ease-in-out calc(500ms + 1 * var(--time-stagger-duration)) alternate infinite;
}
.overallContainer.animate .frameSvg .circle-2 {
  animation:
    grow-in 500ms cubic-bezier(0.1,0.8,0.2,1.2) calc(500ms + 2 * var(--time-stagger-duration)) both,
    scale-loop 3700ms ease-in-out calc(500ms + 2 * var(--time-stagger-duration)) alternate infinite,
    opacity-loop 3700ms ease-in-out calc(500ms + 2 * var(--time-stagger-duration)) alternate infinite;
}
.overallContainer.animate .frameSvg .circle-3 {
  animation:
    grow-in 500ms cubic-bezier(0.1,0.8,0.2,1.2) calc(500ms + 3 * var(--time-stagger-duration)) both,
    scale-loop 3900ms ease-in-out calc(500ms + 3 * var(--time-stagger-duration)) alternate infinite,
    opacity-loop 3900ms ease-in-out calc(500ms + 3 * var(--time-stagger-duration)) alternate infinite;
}

@keyframes fade-in {
  0% { opacity: 0; }
}
@keyframes grow-in {
  0% { transform: scale(0); }
}
@keyframes clip-path-grow-in {
  0% { clip-path: circle(0%); }
}
@keyframes scale-loop {
  0% { }
  100% { transform: scale(1.05); }
}
@keyframes opacity-loop {
  0% { }
  100% { opacity: 0.5; }
}