
.overallContainer {
  display: grid;
  filter: var(--drop-shadow-regular);
  transition: all 500ms ease-out;
}
.overallContainer * {
  transition: all 500ms ease-out;
}
.text {
  margin-left: 6vw;
  margin-right: 6vw;
  font-size: var(--font-size-web-large);
  font-weight: var(--semibold);
  color: var(--color-highlight-base);
  text-align: center;
}
.lineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lineContainer line {
  stroke: var(--color-secondary-dark);
}
.leftLine,
.rightLine {
  stroke-dasharray: 100px;
}

/* For transitioning into view */
.overallContainer.hidden {
  opacity: 0;
}
.overallContainer.hidden .leftLine {
  stroke-dashoffset: -100px;
}
.overallContainer.hidden .rightLine {
  stroke-dashoffset: 100px;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: var(--font-size-web-regular);
    line-height: 1.4;
    max-width: 40vw;
  }
}