
.overallContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: var(--drop-shadow-regular);
  gap: 20px;
}

.iconSvg {

}

.label {
  color: var(--color-highlight-dull);
  width: 120px;
}

.tooltipEnabled,
.tooltipEnabled * {
  filter: var(--drop-shadow-mouseoff);
  transition: all 200ms ease-out;
}
.tooltip {
  position: absolute;
  background: var(--color-grey-darkest);
  color: var(--color-grey-base);
  padding: 5px 20px;
  font-size: var(--font-size-web-small);
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}
.tooltip::after {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  border-style: solid;
  border-width: 5px;
  margin-left: -5px;
  border-color: transparent transparent var(--color-grey-darkest) transparent;
}

.tooltipEnabled:hover svg {
  filter: var(--drop-shadow-mouseon);
  transform: scale(1.1);
}
.tooltipEnabled:hover .tooltip {
  opacity: 1;
  visibility: visible;
}


@media only screen and (max-width: 600px) {
  .label {
    font-size: var(--font-size-mobile-regular);
    width: 90px;
  }
}