
.overallContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: var(--drop-shadow-regular);
  gap: 20px;
}

.iconSvg {

}

.label {
  color: var(--color-highlight-dull);
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .label {
    font-size: var(--font-size-mobile-regular);
    width: 90px;
  }
}