
.overallContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: var(--drop-shadow-regular);
}

.iconSvg {

}

.label {
  margin-left: 10px;
  color: var(--color-grey-base);
  font-size: 14px;
}