
.overallContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: var(--drop-shadow-regular);
  gap: 20px;
}

.iconSvg {

}

.label {
  color: var(--color-highlight-dull);
}