
.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Foreground */
.foregroundContainer {
  margin-top: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subtitle {
  margin-bottom: -20px;
  font-size: 24px;
  color: var(--color-highlight-base);
  filter: var(--drop-shadow-regular);
  opacity: 0;
  animation: fade-grow-in 1000ms ease-out 1000ms forwards;
}
.title {
  font-size: 100px;
  font-weight: bold;
  color: var(--color-secondary-base);
  filter: var(--drop-shadow-regular);
  opacity: 0;
  animation: fade-grow-in 1000ms ease-out 1150ms forwards;
}
.titlePrefix {
  color: var(--color-highlight-base);
}
.description {
  max-width: 70vw;
  font-size: 20px;
  color: var(--color-highlight-dull);
  filter: var(--drop-shadow-regular);
  opacity: 0;
  animation: fade-grow-in 1000ms ease-out 1300ms forwards;
}

.contactBar li {
  opacity: 0;
  animation: fade-drop-in 800ms ease-out forwards;
}
.contactBar li:nth-child(1) {
  animation-delay: 2000ms;
}
.contactBar li:nth-child(2) {
  animation-delay: 2100ms;
}
.contactBar li:nth-child(3) {
  animation-delay: 2200ms;
}
.contactBar li:nth-child(4) {
  animation-delay: 2300ms;
}

.resumeButtonAnimContainer {
  opacity: 0;
  animation: fade-grow-in 500ms ease-out 3000ms forwards;
}

/* Background */
.backgroundContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  top: 50%;
  transform: translateY(-50%);
}
.backgroundAnimContainer {
  width: 80%;
  height: 100%;
  opacity: 0.05;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, .50));
  animation:
    background-load-in 2000ms cubic-bezier(0,1,0,1),
    background-loop 8s ease-in-out 2100ms infinite alternate;
}

@keyframes background-load-in {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 0.05;
    transform: scale(1);
  }
}

@keyframes background-loop {
  0% {
    transform: scale(1);
    opacity: 0.05;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, .50));
  }
  100% {
    transform: scale(1.05);
    opacity: 0.08;
    filter: drop-shadow(0px 0px 80px rgba(0, 0, 0, .40));
  }
}

@keyframes fade-grow-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-drop-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}