
.heroContainer {
  overflow: auto;
  height: 960px;
  text-align: center;
}

.hero {
  position: absolute;
  width: 80vw;
  margin-top: 48vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 120px;
  font-weight: bold;
  color: var(--color-secondary-base);
  filter: var(--drop-shadow-regular);
}
.titlePrefix {
  color: var(--color-highlight-base);
}

.subtitle {
  margin-bottom: -30px;
  font-size: 28px;
  color: var(--color-highlight-base);
  filter: var(--drop-shadow-regular);
}

.description {
  color: var(--color-highlight-dull);
  filter: var(--drop-shadow-regular);
}