
.heroContainer {
  width: 100vw;
  height: 960px;
  text-align: center;
}

.hero {
  position: absolute;
  margin-top: 50vh;
  transform: translate(0, -50%);
  width: 100vw;
}

.title {
  font-size: 120px;
  font-weight: bold;
  color: var(--color-secondary-base);
}
.titlePrefix {
  color: var(--color-highlight-base);
}

.subtitle {
  margin-bottom: -30px;
  font-size: 28px;
  color: var(--color-highlight-base);
}

.description {
  color: var(--color-highlight-dull);
}