
.navBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 60vw;
  min-width: 780px;
  list-style: none;
}