
/* For regular nav items */
.navItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.navItemContainer svg {
  width: 20px;
}
.navItemContainer svg .leftLine {
  stroke-dasharray: 20;
  stroke-dashoffset: -20;
  stroke: var(--color-secondary-base);
  transition: all 200ms ease-out;
}
.navItemContainer svg .rightLine {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  stroke: var(--color-secondary-base);
  transition: all 200ms ease-out;
}
.text {
  color: var(--color-highlight-dull);
  margin-left: 12px;
  margin-right: 12px;
  transition: all 200ms ease-out;
}

.navItemContainer:hover {
  cursor: pointer;
}
.navItemContainer:hover svg .leftLine {
  stroke-dashoffset: 0;
}
.navItemContainer:hover svg .rightLine {
  stroke-dashoffset: 0;
}
.navItemContainer:hover .text {
  color: var(--color-grey-white);
}

/* For the logo nav item */
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transform: scale(0.45);
}
.logoContainer * {
  transition: all 80ms ease-out;
}
.logoSvg g {
  transform-origin: center;
  stroke: var(--color-highlight-base);
}
.logoContainer:hover {
  cursor: pointer;
}
.logoContainer:hover .logoSvg g {
  stroke: var(--color-grey-white);
  transform: scale(1.02);
}
