
.overallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50vh;
  gap: 150px;
}
.sectionTitle {
  width: 30vw;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 100px;
}
.contentBlockContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.spacer {
  min-width: 100px;
  height: 5vh;
}
.text {
  max-width: 42vw;
  transition: all 500ms ease-out;
}

/* Hidden styles */

.firstTextBlock.hidden {
  opacity: 0;
  transform: translateX(-5%);
}
.secondTextBlock.hidden {
  opacity: 0;
  transform: translateX(5%);
}

@media only screen and (max-width: 800px) {
  .sectionTitle {
    width: 64vw;
  }
  .overallContainer {
    gap: 50px;
  }
  .contentContainer {
    gap: 50px;
  }
  .contentBlockContainer {
    gap: 10px;
  }
  .firstContentBlockContainer {
    flex-direction: column-reverse;
  }
  .secondContentBlockContainer {
    flex-direction: column;
  }
  .secondContentBlockContainer .graphicContainer {
    transform: translateX(-5vw);
  }
  .graphic {
    width: 50%;
  }
  .text {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: var(--font-size-mobile-regular);
  }
}

