
.overallContainer {
  position: relative;
  transform: translateX(10%);
  perspective-origin: -20% 120%;
  perspective: 1000px;

  --stagger-duration: 200ms;
  --bounce-timing-function: cubic-bezier(0.1,0.8,0.2,1.2);
}
.overallContainer::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateZ(-100px);
  background: var(--color-grey-darkest);
  filter: var(--drop-shadow-regular);
}
.imageContainer > span {
  border-radius: 50%;
  filter: var(--drop-shadow-regular);
}
.circle {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  aspect-ratio: 1 / 1;
  filter: var(--drop-shadow-regular);
}
.circle-1 {
  width: 10%;
  border-color: var(--color-secondary-darkest);
  border-width: 3px;
  left: -20%;
  bottom: 60%;
}
.circle-2 {
  width: 18%;
  border-color: var(--color-secondary-dark);
  border-width: 3px;
  left: -28%;
  bottom: 30%;
  z-index: -1;
}
.circle-3 {
  width: 40%;
  border-color: var(--color-secondary-base);
  border-width: 3px;
  left: -10%;
  bottom: -10%;
  z-index: 1;
}

/* Hidden styles */
.overallContainer.hidden {
  opacity: 0;
}

/* Animate styles */
.overallContainer.animate .imageContainer {
  animation: img-translate-fade-in 800ms ease-out 400ms backwards;
}
.overallContainer.animate::before {
  animation: shadow-translate-fade-in 800ms ease-out backwards;
}
.overallContainer.animate .circle-1 {
  animation: decor-translate-fade-in 500ms var(--bounce-timing-function) calc(500ms + 2 * var(--stagger-duration)) backwards;
}
.overallContainer.animate .circle-2 {
  animation: decor-translate-fade-in 500ms var(--bounce-timing-function) calc(500ms + 1 * var(--stagger-duration)) backwards;
}
.overallContainer.animate .circle-3 {
  animation: decor-translate-fade-in 500ms var(--bounce-timing-function) calc(500ms + 0 * var(--stagger-duration)) backwards;
}

/* Interactable styles */
.overallContainer.interactable .imageContainer {
  animation: translate-loop 3000ms ease-in-out calc(800ms + 2 * var(--stagger-duration)) alternate infinite;
}
.overallContainer.interactable::before {
  animation: translate-loop 3000ms ease-in-out calc(800ms + 2 * var(--stagger-duration)) alternate infinite;
}
.overallContainer.interactable .circle-1 {
  animation: translate-loop 3200ms ease-in-out calc(800ms + 2 * var(--stagger-duration)) alternate infinite;
}
.overallContainer.interactable .circle-2 {
  animation: translate-loop 2800ms ease-in-out calc(800ms + 1 * var(--stagger-duration)) alternate infinite;
}
.overallContainer.interactable .circle-3 {
  animation: translate-loop 3500ms ease-in-out calc(800ms + 0 * var(--stagger-duration)) alternate infinite;
}

/* Keyframes */
@keyframes img-translate-fade-in {
  0% {
    opacity: 0;
    transform: translateZ(-50px);
  }
}
@keyframes shadow-translate-fade-in {
  0% {
    opacity: 0;
    transform: translateZ(-150px);
  }
}
@keyframes decor-translate-fade-in {
  0% {
    opacity: 0;
    transform: translateZ(-100px);
  }
}
@keyframes translate-loop {
  100% {
    transform: translateZ(-20px);
  }
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .circle-1 {
    border-width: 1px;
  }
  .circle-2 {
    border-width: 2px;
  }
  .circle-3 {
    border-width: 2px;
  }
}