
.overallContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 32%;
  min-width: 350px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title {
  color: var(--color-grey-white);
  font-weight: var(--medium);
  font-size: var(--font-size-web-large);
  justify-self: flex-start;
}
.devStatusBadge {
  justify-self: flex-end;
}

.linkButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.techContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.techHeader {
  color: var(--color-highlight-base);
  font-size: var(--font-size-web-regular);
}
.techList {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.graphic {
  max-width: 50%;
}

/* Hidden styles */
.overallContainer.hidden .contentContainer {
  opacity: 0;
}

/* Animate styles */
.overallContainer.animate .contentContainer {
  animation: slide-fade-in 800ms ease-out 600ms backwards;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@media only screen and (max-width: 800px) {
  .contentContainer {
    position: absolute;
    gap: 10px;
    right: 0%;
    top: 16%;
  }
  .linkButtonsContainer {
    justify-content: flex-end;
  }
  .techContainer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .graphic {
    max-width: 80%;
    pointer-events: none;
    z-index: -1;
  }
  .graphic span {
    filter: brightness(20%) var(--drop-shadow-mouseoff);
  }
  
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: var(--font-size-mobile-large);
  }
  .contentContainer {
    gap: 10px;
    min-width: 80%;
  }
  .techHeader {
    font-size: var(--font-size-mobile-regular);
  }
  .techList {
    gap: 12px;
  }
  .text {
    font-size: var(--font-size-mobile-regular);
  }
}