
.overallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40vh;
  padding-top: 10vh;
  width: 80vw;
  gap: 200px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}
.sectionTitle {
  width: 40vw;
}

@media only screen and (max-width: 1000px) {
  .overallContainer {
    gap: 120px;
  }
  .contentContainer {
    gap: 120px;
  }
}

@media only screen and (max-width: 800px) {
  .overallContainer {
    gap: 30vw;
  }
  .contentContainer {
    gap: clamp(120px, 30vw, 30vw);
  }
  .sectionTitle {
    width: 64vw;
  }
}