@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  font-family: 'Montserrat', 'Futura', sans-serif;
}

body {
  background-color: var(--color-primary-dark);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Futura', sans-serif;
  
  /* Color palette */
  --color-primary-dark: #191A1B;
  --color-primary-base: #3F93BC;
  --color-primary-light: #90AFC5;
  --color-secondary-dark: #763626;
  --color-secondary-dull: #D05630;
  --color-secondary-base: #F37249;
  --color-highlight-dark: #342D26;
  --color-highlight-dull: #D1A57D;
  --color-highlight-base: #FFC368;
  --color-grey-darkest: #323232;
  --color-grey-dark: #555555;
  --color-grey-base: #C0C0C0;
  --color-grey-light: #E1E1E1;
  --color-grey-white: #FBFBFB;

  /* Font sizes */
  --font-size-web-paragraph-large: 24px;
  --font-size-web-paragraph-regular: 16px;
  --font-size-web-paragraph-small: 12px;
  --font-size-web-nav-regular: 20px;
  --font-size-mobile-paragraph-large: 12px;
  --font-size-mobile-paragraph-regular: 9px;
  --font-size-mobile-paragraph-small: 8px;
  --font-size-mobile-paragraph-tiny: 7px;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;

  /* Filter styles */
  --drop-shadow-regular: drop-shadow(0px 2px 15px rgba(0, 0, 0, .10));
}

h1 {
  margin: 0px;
  font-weight: normal;
}

p {
  margin: 0px;
  font-weight: var(--medium);
  color: var(--color-grey-base);
}

ul {
  padding: 0px;
}

button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}

/* Text style classes */
.text-style-web-large {
  font-size: 22px;
  font-weight: var(--medium);
}
.text-style-web-regular {
  font-size: 16px;
  font-weight: var(--medium);
}
.text-style-web-small {
  font-size: 12px;
  font-weight: var(--medium);
}
.text-style-mobile-large {
  font-size: 12px;
  font-weight: var(--medium);
}
.text-style-mobile-regular {
  font-size: 9px;
  font-weight: var(--medium);
}
.text-style-mobile-small {
  font-size: 8px;
  font-weight: var(--medium);
}
.text-style-mobile-tiny {
  font-size: 7px;
  font-weight: var(--regular);
}

/* Interaction styles */
.mouseover-enabled {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, .25));
  transition: all 100ms ease-in-out;
}
.mouseover-enabled:hover {
  color: var(--color-grey-white);
  transform: scale(1.02, 1.02);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .40));
  transition: all 100ms ease-in-out;
}